/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

td .btn {
  line-height: 1 !important;
  font-size: 0.9rem !important;
}

/*************************************************************
/* Estilo para las filas pares cuando tienen hover */
/* .ReactTable .rt-tr.-even:hover {
  background-color: white !important;
} */

/* Estilo para las filas impares cuando tienen hover */
/* .ReactTable .rt-tr.-odd:hover {
  background-color: #f5f5f5 !important;
} */

.react-datepicker-popper {
  z-index: 10000 !important;
}
